button[type='button'] {
    font-size: 100px;
    height: 100px;
    width: 100px;
    text-align: center;
    border: 1px solid black;
}
button[type='button']:hover{
    background-color: rgb(201, 201, 201);
}
button[type='button']:active{
    background-color: rgb(201, 201, 201);
}
font {
    height: 100px;
    width: 100px;
    font-size: 250px;
    text-align: center;
}